<span><img class="icon" src="/images/icons/ruby_get.png" alt=""/>uploaded geocaches: <strong><%=h @user_stats[:uploads] unless @user_stats.nil? %></strong></span>
<span class="user_top_middle"><img class="icon" src="/images/icons/star.png" alt=""/>found geocaches: <strong><%=h @user_stats[:found] unless @user_stats.nil? %></strong></span>
<span><img class="icon" src="/images/icons/heart.png" alt=""/>favorited geocaches: <strong><%=h @user_stats[:favorites] unless @user_stats.nil? %></strong></span>
