<h1>Welcome to GeoPirate.net</h1>
<p>GeoPirate.net is a competetive geocaching host, adding a new dimension of fun to what is already a great pass-time; but turning it in to a real life sport.</p>
<p>Simply sign up, choose which team to play for, the evil geopirates, or the good geopirates. Then pick a geocache target from our extensive geocache database, use your phone to hunt it down, and log your find! The more you find, the more points you earn, and the more geocaches your team will own.</p>
<p>Every geocache is <i>controlled</i> by one of the two teams. To control a geocache, it simply must have been found by more of one side than the other.</p>
<p>So what are you waiting for.. sign up and play now, its free to use this website</p>
<br/>
<p><i>The GeoPirate Team</i></p>
