<h1>Welcome to GeoArmy.net</h1>
<p>GeoArmy.net is a competetive geocaching host, adding a new dimension of fun to what is already a great pass-time; but turning it in to a real life sport.</p>
<p>Simply sign up, pick a geocache target from our extensive geocache database, use your phone to hunt it down, and log your find! The more you find, the more points you earn, and the <strong>quicker</strong> you will be promoted through the GeoArmy ranks!</p>
<p><%= image_tag('icons/accept.png') %> Free to register and use this site</p>
<p><%= image_tag('icons/accept.png') %> Hundreds of geocaches all across Britain</p>
<p><%= image_tag('icons/accept.png') %> Earn points as you create/find geocaches, and get promoted through the ranks in GeoArmy.net</p>
<p><%= image_tag('icons/accept.png') %> Mobile phone application available for the Android phones</p>
<p>So what are you waiting for.. sign up and play now, its free to use this website</p>
<br/>
<p><i>The GeoArmy Team</i></p>
