<h1>Terms and conditions</h1>
<h2>Introduction</h2>

<p>These Conditions are in addition to GeoArmy.net General Website Terms and Conditions and should be read by all those with access to any of the login areas of the Website.</p>

<p>By continuing to access the Restricted Areas you agree to be bound by these Terms and Conditions. You should therefore read them carefully. GeoArmy.net reserves the right to amend these Terms and Conditions at any time and without warning.</p>

<p>Your Username and Password, or any other piece of information that forms part of our security procedures, are individual to you and must be treated with confidentiality and not disclosed to any third party.</p>

<p>GeoArmy.net reserves the right to disable any user identification information, whether chosen by you or allocated by us, at any time, if in the opinion of GeoArmy.net you have failed to comply with any of the provisions of these Terms and Conditions, or the General Conditions.</p>

<h2>Privacy Policy</h2>

<p>Whenever you make use of a feature that allows you to upload material to the Website, or to make contact with other users of the Website, you must ensure that the content of your communication is not:</p>

<ul>
<li> Defamatory
<li> Obscene, offensive, hateful or inflammatory
<li> Discriminatory (based on age, sex, race, religion, nationality, disability or sexual orientation)
<li> Sexually explicit
<li> Deceptive, including creating the impression that it emanates from GeoArmy.net
<li> Promoting of Violence or Criminal Activity
<li> In breach of the law (including but not limited to copyright, trade mark or confidentiality)
<li> Likely to harass, upset, embarrass, alarm or annoy another user
<li> An advertisement
</ul>

<p>GeoArmy.net reserves the right to edit or remove any material or posting if, in the opinion of GeoArmy.net, it does not comply with the above conditions. If you see any material that breaches the above conditions please report it to support@geoarmy.net immediately.</p>

<P>GeoArmy.net does not monitor the service continually but reserves the right to do so. GeoArmy.net accepts no responsibility for material that has not been introduced by it. You acknowledge that you are solely responsible for the form, content and accuracy of any material introduced by you.</p>

<h2>Intellectual Property</h2>

<p>Other than personal data, which is covered by the GeoArmy.net <%= link_to "Privacy Policy", :controller => 'application', :action => 'privacy' %>, any material you upload onto the Website will be considered non-confidential and non-proprietary.</p>

<p>By uploading materials you automatically grant GeoArmy.net a royalty free, perpetual, irrevocable, non-exclusive licence to use, copy, modify, publish, translate, distribute and disclose to third parties any such material for any purpose, alone or as part of another work. If you do not want to grant to GeoArmy.net the rights set out above in relation to your content please do not upload such materials onto the GeoArmy.net Website.</p>

<p>GeoArmy.net reserves the right to disclose your identity to any law enforcement authority or court requesting or directing GeoArmy.net to disclose the identity of anyone posting any material that constitutes a violation of either civil or criminal laws.
Indemnity</p>

<p>If any third party makes a claim against, or notifies an intention to make a claim against GeoArmy.net in relation to a breach of their intellectual property right as a result of material you have uploaded onto the GeoArmy.net Website, you hereby agree to indemnify GeoArmy.net from and against all costs, claims, demands, liabilities, expenses, damages or losses (including without limitation any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal and other professional costs and expenses) arising as a result of such claim.
Relevant Law</p>

<p>These Terms and Conditions are governed by the laws of England.</p>
