<h1>FAQ's</h1>
<p>There is alot you can do in GeoArmy.net, so here we have the most asked questions to help you on your way.</p>
<%= box_grey_start %>
<p>
<h2>Geocaches</h2>
<ul>
<li><a href="#Geocaches">What is a geocache?</a></li>
<li><a href="#HowDoIFindAGeocache">How do I find a geocache?</a></li>
<li><a href="#HowDoIUploadAGeocache">How do I upload a geocache?</a></li>
</ul>
</p>
<p>
<h2>Mobile Applications</h2>
<ul>
    <li><a href="#SupportedPhones">What mobile phones is the mobile app available on?</a></li>
</ul>
</p>
<p>
<h2>Your Profile</h2>
<ul>
<li><a href="#ProfileMenu">How to use the profile menu</a></li>
<li><a href="#RankingSystem">What is the ranking system?</a></li>
</ul>
</p>
<p>
<h2>Using the Geocaches page</h2>
<ul>
<li><a href="#FindingGeocaches">How to find geocaches on the map</a></li>
<li><a href="#Favourites">How to add a geocache to my favorites</a></li>
</ul>
</p>
<br /><br />

<h2>Geocaches</h2>
<h3><a name="Geocaches">What is a geocache?</a></h3>
<p>
A geocache is container which has been hidden. It often contains at least a log book, to note your visit in, and perhaps other items, like toys, for swapping. They can be found using GPS coordinates which mark to its location. 
</p>
<h3><a name="HowDoIFindAGeocache">How do I find a geocache?</a></h3>
<p>Typically a GPS device is used to find the device, but a map could be used. On GeoArmy, use your android phone and geoArmy app to search for a cache you wish to find, then simple let your phone guide you to the location. Once there, you may need to search a bit to find the cache.</p>
<h3><a name="HowDoIUploadAGeocache">How do I upload a geocache?</a></h3>
<p>To upload a geocache, first hide your cache and note the coordinates using a GPS device, then log in to the site. Click "Manage my GeoCaches", then "Upload GeoCache". Enter the details, and click "Update".</p>
<br />
<h2>Mobile Applications</h2>
<h3><a name="SupportedPhones">What mobile phones is the mobile app available on?</a></h3>
<p>Android is currently the only supported mobile device.</p>
<br />
<h2>Your Profile</h2>
<h3><a name="ProfileMenu">How to use the profile menu</a></h3>
<p>Simply log in, click profile on the left, edit your info, and click update!</p>
<h3><a name="RankingSystem">What is the ranking system?</a></h3>
<p>That is a suprise.</p>
<br />
<h2>Using the Geocaches page</h2>
<h3><a name="FindingGeocaches">How to find geocaches on the map</a></h3>
<p>Log in and click the GeoCaches tab. Enter the postcode of, or scroll to the area you want to find caches. The closest 20 will appear on the map. To get the details, click on the cache.</p>
<h3><a name="Favourites">How to add a geocache to my favorites</a></h3>
<p>Find the geocache (see paragraph above), then click on the heart. The geocache is now marked as a favourite.</p>
<%= box_grey_end %>
