<h1>FAQ's</h1>
<p>There is alot you can do in GeoArmy.net, so here we have the most asked questions to help you on your way.</p>
<%= box_grey_start %>
<p>
<h2>Geocaches</h2>
<ul>
<li><a href="#">What is a geocache?</a></li>
<li><a href="#">How do I find a geocache?</a></li>
<li><a href="#">How do I upload a geocache?</a></li>
</ul>
</p>
<p>
<h2>Mobile Applications</h2>
<ul>
    <li><a href="#">What mobile phones is the mobile app available on?</a></li>
</ul>
</p>
<p>
<h2>Your Profile</h2>
<ul>
<li><a href="#">How to use the profile menu</a></li>
<li><a href="#">What is the ranking system?</a></li>
</ul>
</p>
<p>
<h2>Using the Geocaches page</h2>
<ul>
<li><a href="#">How to find geocaches on the map</a></li>
<li><a href="#">How to add a geocache to my favorites</a></li>
</ul>
</p>
<%= box_grey_end %>
