<h1>Contact us</h1>
<p>We are always happy to hear from you! We will always try to respond promptly.</p>
<p>Most of the answers to common questions can be found in the <%= link_to "FAQs", :controller=>'faq', :action=>'index' %>, and for everything else please send us any questions or comments to:</p>
<%= box_grey_start %>
<h3><%= image_tag("icons/email.png")%>&nbsp;&nbsp;enquiries@geoarmy.net</h3>
<%= box_grey_end %>
